body{
	background: #E0E0E0;
}
.mdl-button--primary.mdl-button--primary.mdl-button--raised, .mdl-button--primary.mdl-button--primary.mdl-button--fab{
	background-color: #E0E0E0 !important;
	position: absolute;
	color: #3f51b5!important;
	float: right!important;
	right: 7%!important;
}
#bnt-print{
	right: 12%!important;
}
.conteiner{
	margin-top:7px;
	width:781px;
	background-color: #fff;
}
.form-conteiner{
	box-sizing: content-box;
	height: 100%;
	width: 38%;
	background-color: #fff;
	padding: 1.5%;
}
@media(max-width: 1352px) {
	.form-conteiner{
		width: 60%;
		margin: 0 auto;
	}
	.conteiner{
		margin: 0 auto;
	}
}
@media (min-width: 1352px) {
	.form-conteiner{
		float: left;
	}
	.conteiner{
		right: 5px;
		position: absolute;
	}
}
@media print {
	header, .form-conteiner{
		display: none;
	}
	.conteiner{
		width: 90%;
		margin: 0px;
	}
}