.gdc-title{
    width:100%;
	background-color: #4F6228;
	color:#fff;
	text-align:center;
    margin: 3px 0;
}
.gdc-block{
    width: 256px;
  	background-color: #4F6228;
    padding: 45px 0px;
	display: inline-flex;
    position: relative;
}
.gdc-block-text{
    top: 0px;
    text-align: center;
    position: absolute;
    font-size: 40px;  
    width: 100%;
    color: #fff;
    margin: 10px 0px;
    padding-top: 10px;
}
.gdc-block-subtext{
    bottom: 0px;
    position: absolute;
    font-size: 14px;
    width: 100%;
    text-align:center;
    clear: both;
    color: #fff;
}
.gdc-block-ocupacao{
    background-color: #4F6228;
    width: 127px;
}
.gdc-block-limite{
    background-color: #F2C538;
    width: 127px;
}
.gdc-block-capacidade{
    background-color: #F43131;
    width: 127px;
}

.gdc-chart-full{
    width:374px;
    border:solid 2px;
    padding:3px;
    float:right;
    margin:1px;
    height:82px;
}
p{
    position: relative;
    top:-1px;
    z-index: 1;
    margin-bottom:0px !important;
    font-size:19px;
    font-weight:bold;
    text-align:center;
    font-family:Segoe UI Light;
}
.gdc-chart{
    position: relative;
    display: block;
    top: -13px;
    z-index: 0;
    height: 97%;
    width: 100%;
}