.gdd-title{
    width:100%;
	background-color: #31869B;
	color:#fff;
	text-align:center;
    margin: 4px 0px;
}
.gdd-block{
    padding: 35px 0;
    width: 254px;
    background-color: #00B050;
   	color:#fff;
    margin: 1px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.gdd-block-text-top{
    width:100%;
	background-color: #31869B;
	color:#fff;
	text-align:center;
    font-size: 13.5px;
    position: absolute;
	top: 0;
}
.gdd-block-text-base{
   	width:100%;
	background-color: #31869B;
	color:#fff;
	text-align:center;
    position: absolute;
	bottom: 0;
    font-size: 13.5px;
}